<!-- <div [ngClass]="isActive ? 'active' : 'inactive'">Lecture 3</div> -->
<!-- <div [ngClass]="classes">Lecture 3</div> -->


<!-- <div [ngStyle]="{'color': isActive ? 'green' : 'red', 'font-size': isActive ? '100px' : '50px'}">Lecture 3</div> -->
<!-- <div [ngStyle]="styles">Lecture 3</div> -->


<!-- <div *ngIf="isActive; else elseBlock">Active</div>
<ng-template #elseBlock>Inactive</ng-template>

<div *ngIf="book">{{book.title}}</div> -->
<!-- <div *ngIf="!isActive">Inactive</div> -->

<!-- <div *ngFor="let book of booList">
    {{book.title}}
    {{book.author}}
    {{book.pages}}
</div> -->


<!-- <ng-container *ngFor="let book of booList">
    {{book.title}}
    {{book.author}}
    {{book.pages}}
</ng-container> -->


<!-- <ng-container *ngFor="let book of booList">
    {{book.title}}
    {{book.author}}
    {{book.pages}}
</ng-container> -->

<!-- <ng-container *ngFor="let book of booList; let i=index">
    <div>
        {{i}} - {{book.title}} {{book.author}} {{book.pages}}
    </div>
</ng-container> -->

<!-- <div [ngSwitch]="book.title">
    <div *ngSwitchCase="'title4'">title1</div>
    <div *ngSwitchCase="'title2'">title2</div>
    <div *ngSwitchDefault>ngSwitchDefault</div>
</div> -->


